config chilli
    option disabled '1'
    option tundev 'tun0'
    option network 'lan'
    option dns1 '192.168.0.1' # ISP GW serves DNS in our network
    option dns2 '8.8.8.8'
    option ipup '/etc/chilli/up.sh'
    option ipdown '/etc/chilli/down.sh'
    option radiusserver1 '192.168.0.101' # Host of RADIUS proxy server
    option radiusserver2 '192.168.0.101'
    option radiusauthport '2812'
    option radiusacctport '2813'
    option radiussecret 'my_secret'
    option dhcpif 'lan'
    option uamserver 'https://demo.expresswifi.com/customer/captive_portal'
    option macauth '1'
    option xwfmode '1'
    option coaport '3799
